# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
env/
venv/

# Streamlit
.streamlit/

# Uploaded files
uploads/
*.csv
*.xlsx

# Logs
*.log

# Jupyter / IPython
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Environment / secrets
.env
.env.local
